{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2>🚒 Nearest Fire Station</h2>
  <h3>Bidar Fire Station</h3>
  <p><b>Address:</b> WGCC+Q8P, Nawadgeri, Bidar, Karnataka 585401</p>
  <p><b>Phone:</b> 08482226500</p>
  <p><b>Email:</b> bidarfirestation@gmail.com</p>
  <a class="btn" href="https://maps.google.com/?q=Bidar+Fire+Station" target="_blank">📍 View on Map</a>
  <a class="btn" href="https://www.justdial.com/Bidar/Janwada-Fire-Station/9999P8482-8482-190302235106-U3Y7_BZDET" target="_blank">📞 Call Now</a>
  
</div>
{% endblock %}
